html {
  background: #2E382E;
  background: url(http://wallpapercave.com/wp/8cEpZrx.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Work Sans", sans-serif;
}

.title {
  font-size: 45px;
  margin-bottom: 0;
}

p {
  font-size: 26px;
  font-family: "Maitree", serif;
  margin-bottom: 5px;
}

.credits {
  font-size: 24px;
  margin-bottom: 25px;
}

a, a:visited {
  color: #50C9CE;
}

a:hover {
  color: #e9eb9e;
}

ul {
  font-size: 24px;
  text-align: left;
  width: 350px;
  margin: 0 auto;
  font-family: "Maitree", serif;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
}

td {
  border-collapse: collapse;
  border-bottom: 1px solid rgba(252, 252, 252, 0.25);
}

.tableHead {
  border-collapse: collapse;
  border: 1px solid rgba(252, 252, 252, 0.25);
  border-bottom: 1px solid rgba(36, 32, 56, 0.2);
}
.tableHead th {
  background: rgba(36, 32, 56, 0.4);
  color: #F7ECE1;
  font-weight: normal;
  padding: 10px 12px 10px 12px;
  font-size: 22px;
  border: 1px solid rgba(252, 252, 252, 0.25);
  border-bottom: 1px solid rgba(36, 32, 56, 0.2);
}

.dataTable {
  margin: 25px auto;
}

.tableData td {
  padding: 5px 10px 5px 10px;
  color: #242038;
  border-right: 1px solid rgba(36, 32, 56, 0.2);
  border-bottom: 1px solid rgba(36, 32, 56, 0.2);
  font-size: 20px;
  background: rgba(233, 235, 158, 0.85);
}
.tableData td:hover {
  background: #50C9CE;
}
