body {
  background: #272932;
  color: #00dffc;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.title {
  margin: 85px 0 25px 0;
}
.title h1 {
  font-size: 45px;
}
.title a, .title a:visited {
  color: #00dffc;
  text-decoration: underline;
}
.title a:hover {
  color: #f94e3f;
}

.buttons {
  margin-top: -15px;
}

button {
  color: #ffc952;
  background: #274555;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 28px;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background: rgba(39, 69, 85, 0.5);
}

.quotes {
  width: 750px;
  margin: 75px auto;
  background: rgba(39, 69, 85, 0.25);
  padding: 25px;
  border-radius: 25px;
}
.quotes p {
  margin-top: 25px;
  font-size: 30px;
  color: #f94e3f;
}
.quotes .quoteText {
  font-family: "Rasa", serif;
}
.quotes .quoteAuthor {
  color: #ffc952;
  margin-top: 15px;
}

.quotes:hover {
  background: rgba(39, 69, 85, 0.22);
}
