body {
  background: rgb(30,30,30);
  color: rgb(35,35,35);
  text-align: center;
  font-family: Avenir;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.box {
  margin: 3px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 50px;
}