body {
	background: rgb(30,30,30);
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	text-align: center;
	color: rgb(114, 223, 250);
	min-width: 1200px;
	padding-bottom: 25px;
}
.header {
	position: fixed;
	left: 0;
	width: 400px;
	height: 100%;
	background: rgb(30,30,30);
	border-right: 1px solid white;
	padding-top: 5px;
}
.about {
	width: 350px;
	margin: 25px auto;
}
.aboutText {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
	color: rgb(150,150,150);
}
.creditsDiv {
	position: fixed;
	top: 8px;
	right: 15px;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	text-align: right;
	z-index: 2;
}
.credits {
	margin-top: 2px;
	margin-bottom: 0;
}
.credits a, .credits a:visited {
	color: rgb(150,150,150);
	text-decoration: none;
}
.credits a:hover {
	text-decoration: underline;
	color: rgb(114, 223, 250);
}
img {
	width: 200px;
	margin-top: 25px;
}
h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.projectList {
	position: absolute;
	left: 435px;
	min-width: 700px;
	padding-top: 15px;
	background: rgb(30,30,30);
	z-index: 1;
}

td {
	font-family: 'Quicksand', sans-serif;
	font-size: 27px;

}
.leftCol {
	text-align: left;
	padding-right: 5px;
}
.rightCol {
	text-align: left;
	padding-left: 5px;
}
.projectList a, .projectList a:visited {
	color: white;
	text-decoration: none;
}
.projectList a:hover {
	text-decoration: underline;
	color: rgb(114, 223, 250);
}
#line {
	width: 750px;
	height: 1px;
	margin-top: 25px;
	background: white;
}
.content {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 25px;
	width: 750px;
	text-align: left;
}
.contentText {
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
	text-align: left;
	color: rgb(200,200,200);
	line-height: 120%;
	text-indent: 25px;
}
.contentText a, .contentText a:visited {
	color: rgb(114, 223, 250);
}
.contentText a:hover {
	text-decoration: underline;
	color: white;
}
.contentWrapper {
	margin-bottom: 40px;
}
.resources {
	border-top: 1px solid #FFFFF2;
	padding-top: 10px;
}
.title h1 {
	margin-bottom: 0px;
}
.subText {
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
	line-height: 120%;
	margin-top: 5px;
	color: rgb(200,200,200);
}



