body {
	background: rgb(30,30,30);
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	text-align: center;
	color: rgb(114, 223, 250);
	width: 1200px;
	padding-bottom: 25px;
}
.header {
	position: fixed;
	left: 0;
	width: 400px;
	height: 100%;
	background: rgb(30,30,30);
	border-right: 1px solid white;
	padding-top: 5px;
}
.about {
	width: 350px;
	margin: 25px auto;
}
.aboutText {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
	color: rgb(150,150,150);
}
.creditsDiv {
	position: fixed;
	top: 8px;
	right: 15px;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	text-align: right;
	z-index: 2;
}
.credits {
	margin-top: 2px;
	margin-bottom: 0;
	color: rgb(150,150,150);
}
.credits a, .credits a:visited {
	color: rgb(150,150,150);
	text-decoration: none;
}
.credits a:hover {
	text-decoration: underline;
	color: rgb(114, 223, 250);
}
#shareBtn {
	padding-top: 5px;
}
img {
	width: 200px;
	margin-top: 25px;
}
h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.mainTitle {
	margin-bottom: 10px;
}
.projectList {
	position: absolute;
	left: 430px;
	width: 700px;
	padding-top: 15px;
	background: rgb(30,30,30);
	z-index: 1;
}
td {
	font-family: 'Quicksand', sans-serif;
	font-size: 27px;
}
.leftCol {
	text-align: left;
	padding-right: 5px;
}
.rightCol {
	text-align: left;
	padding-left: 5px;
}
.projectList a, .projectList a:visited {
	color: white;
	text-decoration: none;
}
.projectList a:hover {
	text-decoration: underline;
	color: rgb(114, 223, 250);
}
#line {
	width: 750px;
	height: 1px;
	margin-top: 25px;
	background: white;
}
.content {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 25px;
	width: 740px;
	text-align: left;
}
.contentTitle {
	text-align: left;
}
.lowerTitle {
	margin-bottom: 25px;
}
.contentText {
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
	text-align: left;
	color: rgb(200,200,200);
	line-height: 120%;
	text-indent: 25px;
}
.contentText a, .contentText a:visited {
	color: rgb(114, 223, 250);
}
.contentText a:hover {
	text-decoration: underline;
	color: white;
}
.contentWrapper {
	margin-bottom: 15px;
	border-bottom: 1px solid #FFFFF2;
}
.resources {

}
.title {
	margin-bottom: 0px;
/*	margin-right: 15px;*/
	color: rgb(114, 223, 250);
	font-size: 30px;
	font-family: 'Quattrocento Sans', sans-serif;
}
.resources a, .resources a:visited {
	color: rgb(215, 215, 215);
	color: rgb(114, 223, 250);
}
.resources a:hover {
	text-decoration: none;
	color: rgb(114, 223, 250);
	color: white;
}
.subText {
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	line-height: 120%;
	margin-top: 5px;
	color: rgb(200,200,200);
}

@media screen and (max-width: 800px) {
	body {
		width: auto;
	}
	.header {
		position: static;
		width: auto;
		background: rgb(30,30,30);
		border: none;
	}
	.header h1 {
		margin-bottom: -15px;
	}
	.about {
		width: auto;
		margin: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.projectList {
		position: static;
		width: auto;
		padding-top: 0px;
		margin-top: -25px;
		background: rgb(30,30,30);
		z-index: 0;
	}
	table {
		margin: 0 auto;
	}
	tr {
		height: 28px;
	}
	td {
		font-size: 20px;
	}
	.leftCol {
		display: none;
	}
	#line {
		width: auto;
	}
	.contentTitle {
		text-align: center;
		font-size: 35px;
	}
	.title {
		font-size: 26px;
		text-align: left;
	}
	.content {
		width: auto;
	}
	.contentWrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
	.resources {
		padding-left: 5px;
		padding-right: 5px;
	}
	.contentText {
		font-family: 'Quicksand', sans-serif;
		font-size: 20px;
		text-align: left;
		color: rgb(200,200,200);
		line-height: 120%;
		text-indent: 25px;
	}
	.subText {
		font-family: 'Quicksand', sans-serif;
		font-size: 20px;
		line-height: 120%;
		margin-top: 5px;
		margin-bottom: 35px;
		color: rgb(200,200,200);
	}
	.creditsDiv {
		position: static;
		text-align: center;
	}
	.credits a, .credits a:visited {
		color: rgb(114, 223, 250);
		text-decoration: none;
	}
	.credits a:hover {
		text-decoration: underline;
		color: rgb(114, 223, 250);
	}
}



