$back: #2D1E2F;
$backBlue: #13293D;
$red: #CC444B;
$blue: #1ADFEE;
$btn: #F4F1BB;
$mint: #52DE8E;
$purple: #1D1E2C;
$hover: #1282A2;
$darkHover: #006494;
$gold: #FFD975;
$muka: 'Mukta Vaani', sans-serif;

body {
  background: $back;
  background: linear-gradient($back, $backBlue) fixed no-repeat;
  color: $red;
  font-family: $muka;
  font-size: 22px;
  padding-left: 25px;
}
.wrapper {
  width: 800px;
  margin: 5px auto;
  p {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 45px;
    text-align: center;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    .fa {
      margin-left: 5px;
    }
  }
}
.btn {
  display: inline-block;
  background: $btn;
  width: 150px;
  text-align: center;
  padding: 5px;
  color: rgb(30,30,30);
  font: $muka;
  margin: 5px;
}
.btn:hover {
  cursor: pointer;
  background: $blue !important;
}
table {
  border-collapse: collapse;
  img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid rgba(26, 223, 238, 0.25);
  }
  th {
    text-align: left;
    padding-left: 15px;
    color: $gold;
    font-size: 24px;
    font-weight: normal;
  }
  td {
    width: 300px;
    height: 50px;
    border: 1px solid rgba(26, 223, 238, 0.25);
    padding-left: 10px;
    background: $purple;
  }
  .dataCol {
    width: 100px;
  }
  tr:hover {
    td {
      background: $gold;
      cursor: pointer;
    }
  }
}